#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

export PYBUILD_NAME=gpustat-plus

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	GPUSTAT_VERSION="0.1.dev2+gb496fb5.d20250801" dh_auto_build

override_dh_auto_test:
	# Skip tests for now as they may require GPU hardware
	echo "Skipping tests"
